/* CARRITO */
.listaCarrito {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carritoCard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: rgb(245, 243, 243);
  width: 70%;
  margin: 20px 0px;
  box-shadow: 0 3px 8px rgb(42 35 35 / 76%);
  border-radius: 10px;
}

.carritoImg {
  height: 100px;
  width: 80px;
  box-shadow: black;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoTittle {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoText {
  font-size: 25px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eliminarProducto {
  display: block;
  margin: 10px 0 10px 0;
  width: 100px;
  height: 30px;
  background-color: #9fe3c2;
  border-radius: 8px;
}

.subTotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30%;
  margin-bottom: 20px;
}

/* BOTONES  DEL CARRITO*/

.buttonsBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9df790;
  padding: 0px 5px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.buyNow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyNow a {
  font-size: 20px;
  text-decoration: none;
}

.buy {
  margin: 5px;
}

/* BOTONES ANTERIOR Y POSTERIOR DE PAGINA */

.continuarCompra {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px;
}

.previusPage {
  padding: 10px;
  color: rgb(17, 17, 17);
  background-color: gray;
  border-radius: 10px;
}
.previusPage a {
  text-decoration: none;
}

.nextPage {
  padding: 10px;
  color: rgb(252, 242, 242);
  background-color: #05743e;
  border-radius: 10px;
}
.nextPage a {
  text-decoration: none;
}

.tittlePageCarrito {
  font-size: 30px;
  margin: 40px 10px;
}
.textPageCarrito {
  font-size: 20px;
  margin: 30px 10px;
}

.numberContenedor {
  background-color: rgb(19, 125, 139);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 77.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}
