.informacionCliente {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(135, 132, 92);
}

.informacionDeCliente {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta_finalizarCompra {
  padding: 22px;
  background-color: #c4c4c4;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.btn-mercadoPago,
.btn-creditCard {
  width: 150px;
  margin: 30px;
  border-radius: 10px;
}
.btn-mercadoPago img,
.btn-creditCard img {
  width: 145px;
  height: 110px;
}

.X img {
  width: 20px;
  height: 20px;
}

.btn-finish {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-color: rgb(75, 63, 63);
  color: white;
  padding: 30px;
  margin: 50px;
  border-radius: 10px;
}
