
body{
    background-color: rgb(48, 111, 48);
}

h1{
    color: white;
    background-color: black;
    border-radius: 8px;
    margin: 10px;
    padding: 3px;
    text-align: center;
}

h2{
    color: lawngreen;
}

p{
    color: lightblue;
}

.textNav{
    font-family: 'Black Ops One', cursive;
    width: 100%;
    background-color: rgb(107, 89, 10);
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textNav p{
    margin: 0px;
    padding: 0px;
}
.clases{
    display: flex;
    align-items: center;
    justify-content: space-around;
}